<div class="splitterBottomContainer">
  <div>
    <mat-form-field>
      <mat-label>MessageFlow</mat-label>
      <mat-select [value]="currentMessageFlowName$|async" (valueChange)="currentMessageFlowName$.next($event)">
        <mat-option [value]="null">-</mat-option>
        @for (name of listMessageFlowName$|async; track name) {
          <mat-option [value]="name">{{name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="splitterTopContainer topPane">
    <div class="leftpane" #leftpane>
      <app-diagram-pane [hostSize]="leftPaneSize$|async" [graph]="currentMessageFlow$|async" (nodeSelected)="nodeSelectedDiagramPane($event)"></app-diagram-pane>
    </div>
    <div class="splitterH"
      cdkDragLockAxis="x" cdkDrag (cdkDragEnded)="splitterTopRightEnded($event)">
    </div>
    <div class="rightpane" [ngStyle]="{'width': (topRightWidthPx$|async)}">
      <app-property-pane [currentMessageFlow]="currentMessageFlow$|async" [currentMessageFlowNode]="currentMessageFlowNode$|async" ></app-property-pane>
    </div>
  </div>
  <div class="splitterV"
    cdkDragLockAxis="y" cdkDrag (cdkDragEnded)="splitterBottomEnded($event)"></div>
  <div class="bottomPane" [ngStyle]="{'height': (bottomHeightPx$|async)}"></div>
</div>
