:host {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rosybrown;
}
.splitterBottomContainer{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  .topPane {
    background-color: yellow;
    flex:1 1 auto;
  }

  .splitterV {
    background-color: gray;
    height: 4px;
    border: 1px 0px 1px 0px double black;
  }

  .bottomPane {
    background-color: lightgoldenrodyellow;
  }

}
.splitterTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .leftpane {
    background-color: red;
    flex:1 1 auto;
  }

  .splitterH {
    background-color: gray;
    width: 4px;
    border: 0px 1px 0px 1px double black;
  }

  .rightpane {
    background-color: yellowgreen;
  }

}
