<div class="splitterBottomContainer">
  <div>
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>

      </mat-select>
    </mat-form-field>
    <label>
      <select>

        <option [value]="">xxx</option>
      </select>
    </label>
  </div>
  <div class="splitterTopContainer topPane">
    <div class="leftpane" #leftpane>
      <app-diagram-pane [hostSize]="leftPaneSize$|async"></app-diagram-pane>
    </div>
    <div class="splitterH"
      cdkDragLockAxis="x" cdkDrag (cdkDragEnded)="splitterTopRightEnded($event)">
    </div>
    <div class="rightpane" [ngStyle]="{'width': (topRightWidthPx$|async)}">
      <app-property-pane></app-property-pane>
    </div>
  </div>
  <div class="splitterV"
    cdkDragLockAxis="y" cdkDrag (cdkDragEnded)="splitterBottomEnded($event)"></div>
  <div class="bottomPane" [ngStyle]="{'height': (bottomHeightPx$|async)}"></div>
</div>
