::ng-deep{
  app-diagram-pane{
    display:flex;
    flex: 1 1 auto;
    border: 1px solid blue;
    width: 100%;
    height: 100%;

    DIV {
      display:flex;
      flex: 1 1 auto;

      SVG {
        border: 1px solid yellow;
        width: 100%;
        height: 100%;
      }
    }
  }
}
::ng-deep {
  svg.diagram{
    background-color: white;
  }
  .lineCoordinate {
    fill:blue;
    stroke:blue;
  }
}
